html, body {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
    font-family: 'Quicksand', sans-serif;
    font-weight: 300;
    background-color: #ECF0F1;
    height:100%;
    z-index: 1;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Quicksand', sans-serif;
    color: #f83030;
    font-weight: normal;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

img {
    vertical-align: middle;
}

.wrapper {
    width: 90%;
    margin: 0 5%;
}

.header-container {
    background: #3498DB;
}

#search-results {
    z-index: 2;
    max-height: 200px;
    overflow-y: scroll;
}
#search-results a {
    line-height: 2rem;
    margin-left: 1rem;
    margin-right: 1rem;
}

#search-results ,
.card {
    background: #fff;
    -webkit-box-shadow: 0 2px 4px 0 rgba(153,153,153,.75);
    -moz-box-shadow: 0 2px 4px 0 rgba(153,153,153,.75);
    box-shadow: 0 2px 4px 0 rgba(153,153,153,.75);
    -webkit-transition: height .4s,-webkit-box-shadow 1s linear;
    -moz-transition: height .4s,-moz-box-shadow 1s linear;
    -o-transition: height .4s,box-shadow 1s linear;
    transition: height .4s,box-shadow 1s linear;
}

.card {
    margin: 5px; 
    border-radius: 5px;
}

.fifths {
    float: left; 
    width:20%;
}

.category {
    background-color: #ddd;
  border: none;
  color: black;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 16px;
}

#search-results a,
.card a {
    color: #f83030;
    text-decoration: none;
    font-weight: bold;
}

.game-image {
    width: 100%; 
    border-top-right-radius: 5px; 
    border-top-left-radius: 5px;
}

#search {
    border: 1px solid #75b9e7;
    margin-top: 10px;
    margin-bottom: 10px;
    height: 36px;
    background-color: #75b9e7;
    box-shadow: none;
    color: #fff;
    border-radius: 8px;
    padding: 2px;
    width: calc(100% - 60px);
}

#search::-webkit-input-placeholder {color: #fff;}
#search::-moz-placeholder {color: #fff;}
#search:-ms-input-placeholder {color: #fff;}
#search:-moz-placeholder {color: #fff;}

#search:focus {
    animation: change-background 1s ease;
    background-color: #fff;
    border: 1px solid #ccc;
    color: #222;
}

#search:focus::-webkit-input-placeholder {color: #222;}
#search:focus::-moz-placeholder {color: #222;}
#search:focus:-ms-input-placeholder {color: #222;}
#search:focus:-moz-placeholder {color: #222;}

input[type="search"],
input[type="password"],
input[type="text"] {
    background: #ECF0F1;
    text-decoration: none;
    border-radius: 5px;
    padding: 0 20px;
    height: 55px;
    line-height: 55px;
    font-size: 16px;
    border: none;
    display: block;
    width: calc(100% - 40px);
    margin: 0 auto;
    margin-bottom: 20px;
    box-shadow:inset 0px 1px 1px 0px rgba(0, 0, 0, 0.15);
}

/* ==========================================================================
Media Queries
========================================================================== */

@media only screen and (min-width: 768px) {
    .header-container {
        -webkit-box-shadow: 0 2px 4px 0 rgba(153,153,153,.75);
        -moz-box-shadow: 0 2px 4px 0 rgba(153,153,153,.75);
        box-shadow: 0 2px 4px 0 rgba(153,153,153,.75);
    }
}

@media only screen and (min-width: 1140px) {
    .wrapper {
        width: 1026px; /* 1140px - 10% for margins */
        margin: 0 auto;
    }
}

/* ==========================================================================
Helper classes
========================================================================== */

.hidden {
    display: none !important;
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* Keyframes */
@keyframes change-background {
  0% {
      border: 1px solid #75b9e7;
      background-color: #75b9e7;
      color: #fff;
  }
  100% {
      background-color: #fff;
      border: 1px solid #fff;
      color: #222;
  }
}