{% extends "layout.html" %}
{% block content %}
  <div class="details">
    <h1>{{game.name}}</h1>
    <p><img src="{{game.thumbnail}}" align="left" style="padding-right: 10px;"/> {{game.description | safe}}</p>
    <b class="likes">{{game.likes}} Likes</b>
    <p>
      {% for category in game.category %}
      <span class="category">{{category}}</span>
      {% endfor %}
    </p>
  </div>
  <section class="you_might_also_like">
    <h2>You might also like...</h2>
    <div class="recommendations">
    {% for recommendation in recommendations %}
    <div style="float: left; width:20%;">
      <div class="card" style="margin: 5px; border-radius: 5px;">
        <a href="/details/{{recommendation}}"><img src="{{attributes[recommendation]['image']}}" class="game-image" /></a>
        <div class="card-text">
          <a href="/details/{{recommendation}}"  style="text-align: center; display: block;">{{attributes[recommendation]["name"]}}</a>
        </div>
      </div>
    </div>
    {% endfor %}
    </div>
  </section>
  <script type="text/javascript">
    $(document).ready(function(){
      $('.recommendations').slick({
        slidesToShow: 5,
        slidesToScroll: 1,
        autoplay: true,
        autoplaySpeed: 2000,
      });
    });
  </script>
{% endblock %}