{% extends "layout.html" %}

{% macro int(number) -%}
{{ (number * 1) | int | abs}}
{%- endmacro %}


{% block content %}
  <div class="home">
    <h2>Top Recommendations</h2>
    <div class="top_recommendations">
      {% for game_id in top_recommendations %}
      <div class="card">
        <a href="/details/{{game_id}}"><img src="{{attributes[game_id]['image']}}" class="game-image" /></a>
        <div class="card-text">
          <a href="/details/{{game_id}}"  style="text-align: center; display: block;">{{attributes[game_id]["name"]}}</a>
          <span class="likes">{{attributes[game_id]["likes"]}} Likes</span>
        </div>
      </div>
      {% endfor %}
    </div>

    {% if has_history %}
    <div class="clearfix"></div>
    <h2>You Recently Viewed</h2>
    <div class="history">
      {% for game_id in session["history"][0:5] %}
      {% set game_id = int(game_id) | int %}
      <div class="fifths">
        <div class="card">
          <a href="/details/{{game_id}}"><img src="{{attributes[game_id]['image']}}" class="game-image" /></a>
          <div class="card-text">
            <a href="/details/{{game_id}}"  style="text-align: center; display: block;">{{attributes[game_id]["name"]}}</a>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
    {% endif %}

    {% for category in homepage_categories %}
    <div class="clearfix"></div>
    <h2>{{category}}</h2>
    <div class="slick">
      {% for game_id in homepage_categories_data[category] %}
        <div class="card">
          <a href="/details/{{game_id}}"><img src="{{attributes[game_id]['image']}}" class="game-image" /></a>
          <div class="card-text">
            <a href="/details/{{game_id}}"  style="text-align: center; display: block;">{{attributes[game_id]["name"]}}</a>
          </div>
        </div>
      {% endfor %}
    </div>
    {% endfor %}
    <script type="text/javascript">
      $(document).ready(function(){
        $('.top_recommendations').slick({
          slidesToShow: 5,
          slidesToScroll: 1,
          autoplay: true,
          autoplaySpeed: 5000,
        });

        $('.slick').slick({
          slidesToShow: 5,
          slidesToScroll: 1,
          infinite: true,
        });
      });
    </script>
  </div>
{% endblock %}