<!DOCTYPE html>
<html>
  <head>
    <title>Red Dice - Only The Best Games</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.ico') }}">
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/normalize.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='slick/slick.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='slick/slick-theme.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}?{{ css_hash }}">
    <script type="text/javascript" src="{{ url_for('static', filename='javascript/jquery-3.5.1.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='slick/slick.min.js') }}"></script>
  </head>
  <body>
    <header class="header-container">
      <form class="wrapper">
        <a href="{{ url_for('home') }}"><img src="{{ url_for('static', filename='img/red_dice.png') }}" height="42"/></a>
        <input id="search" placeholder="I'm looking for..." autocomplete="off"/>
      </form>
    </header>
    <div class="main-container">
      <main class="main wrapper clearfix">
        <div class="section group">
          {% block content %}
          {% endblock %}
        </div>
      </main>
    </div>
  </body>
</html>